.rodapé{
    width: 100%;
    border-radius: 10px;
    background-color: $cinza;
    margin: 30px 10px;
    display: flex;
    justify-content: space-evenly;
    .tx{
        margin-top: 10px;
    }
    .foto{
        height: 100%;
        margin: 10px 10px;
    }
    .info{
        height: 25px;
        @include centralize-child;
        flex-direction: row;
        @include img-footer;
        margin: 10px 0px;
    }
    .footer-contato{
        @include espaco-vertical;
    }   
    .footer-redes{
        @include espaco-vertical;
        .foto{
              cursor: pointer;
        }
    }
    .footer-pg{
        @include espaco-vertical ;
        .info{
            justify-content: space-evenly;
        }
    }
}