
    $primary: #65def1ff; /*sky-blue-crayola*/
    $black: #0a0908ff;
    $light-gray: rgb(241, 241, 241);
    $cinza: rgb(189, 189, 189);
    $orange: #f96900ff;
    $duke-blue: #090c9bff;
    $white: #ffffff;

    
@mixin centralize-child {
    display: flex;
    align-items: center;
}
@mixin font-footer () {
    font-size: 1.5vw;
    font-weight: bold; 
}
@mixin img-footer () {
    .img-footer{
        height: 70%;
    }  
}
@mixin espaco-vertical () {
    height: 100%;
    @include centralize-child;
    flex-direction: column;
    justify-content: space-between;
}

.stripped section:nth-child(2n){
    background-color: $white;
}

@media screen and (max-width: 450px){
    section{
        margin-top: 10px;
    }
    .info{
        height: 10px;
    }
}
 
body {
    max-width: 10000px;
    min-width: 375px;
    font-family: Roboto-black,sans-serif;
    font-style: normal;
    background-color: $light-gray;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    *{
        padding: 0;
        margin: 0;
    }
    section{
        margin-top: 20px;
        }
    .stripped{
        max-width: 1200px;
    }
    h1{
        font-size: clamp(20px, 1.3vw,34px);
      }
    h2{
      font-size: clamp(15.6px, 1.2vw,27.2px);
    }
    h3{
        font-size: clamp(14px, 1.04vw,21.6px);
    }
    h4{
        font-size: clamp(14px, 0.93vw,19.44px);
    }  
    p{
      font-size: clamp(14px, 0.93vw,19.44px);
    }
}


